body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0); /* Light gray gradient background */
    background-size: cover;
    padding: auto;
    
}

/* Add the flashing animation code here */
@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    background-color: #f5a623; /* Light orange background color */
    color: white;
    text-align: center;
    padding: 20px;
    animation: flashing 2s infinite; /* Apply the flashing animation */
}

h4 {
    color: #3498db; /* Light blue text color */
}

/* Rest of your existing CSS code */

.contact-test {
    color: #e74c3c; /* Light red text color */
}

.index {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: #27ae60; /* Light green text decoration color */
    color: #27ae60; /* Light green text color */
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1; /* Light grayish-blue background color */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

li {
    margin: 20px;
}

.marquee {
    background-color: #95a5a6; /* Light gray-blue background color */
    font-style: italic;
    font-display: swap;
    padding: 15px;
    margin-right: 10px;
}

.about {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: #f7dc6f; /* Light yellow background color */
    text-align: center;
}

.text {
    padding: 20px;
    border-right: 10px;
    text-align: justify;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #d5dbdb; /* Light grayish-green background color */
    padding: 10px;
}

.grid-item {
    background-color: #f39c12; /* Light orange background color */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

section {
    margin: 20px;
}

.activites {
    list-style-type: disc;
}

.experience {
    list-style-type: "\1F44D";
}

footer {
    background-color: #34495e; /* Light gray-blue background color */
    color: white;
    text-align: center;
    padding: 10px;
}
